# Normalize line endings for all text files
*.tsx text=auto eol=lf
*.ts text=auto eol=lf
*.json text=auto eol=lf
*.yml text=auto eol=lf
*.md text=auto eol=lf
*.css text=auto eol=lf
*.html text=auto eol=lf
*.graphql text=auto eol=lf
